  .header {
    gap: 24px;
    font-size: 16px;
  }

  .user-icon {
    width: 88px;
    height: 88px;
    margin-bottom: 12px;
    overflow: hidden;
    background-image: url(../../../../../webapp-common/assets/icons/icon-profile-user.svg);
  }

  .profile-label {
    font-size: 12px;
    color: var(--color-outline);
    font-weight: 500;;
  }

  .profile-name {
    display: flex;
    align-items: center;
    padding-left: 64px;
    min-height: 32px;
    &.edit {
      transform: translateX(18px);
    }
  }

  .badge {
    height: 18px;
    display: flex;
    align-items: center;
    background-color: var(--color-outline-variant);
    padding: 0 6px 0 16px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    text-transform: none;
    position: relative;
    overflow: hidden;
    color: var(--color-on-surface);
    border: 1px solid var(--color-outline-variant);
    .al-icon {
      position: absolute;
      left: -8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
