.info {
  display: flex;
  gap: 6px;
  padding: 8px 12px 4px;
  max-width: 250px;
  .mat-icon {
    color: var(--color-primary);
  }

  .policy-name {
    font-weight: 500;
    max-width: 180px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
