@use "mixins/empty";

@include empty.empty-card-mixin();
.empty-state {
  justify-content: center;
}

.header {
  display: flex;
  height: 48px;
  justify-content: end;
  align-items: center;
  gap: 12px;
  padding: 0 24px;
  overflow: hidden;

  .time-selector {
    width: 300px;
  }

  .mat-divider-vertical {
    height: 36px;
  }
}

.custom-selector {
  width: 230px;
  ::ng-deep &.mat-mdc-form-field .mat-mdc-form-field-flex .mat-mdc-notch-piece {
    background-color: transparent;
  }
}

.graphs {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
  gap: 24px;
  padding: 0 24px 24px;
  overflow: auto;
}

.graph {
  background-color: var(--color-surface-container-lowest);
  border-radius: 4px;
  border: 1px solid var(--color-outline-variant);

  &__header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 24px;

    font-size: 14px;
    font-weight: 600;
  }

  &__body {
    display: grid;
    position: relative;
    height: 300px;
    grid-template-columns: 3fr 1fr;
    gap: 12px;
  }

  &__line, &__donut {
    height: 300px;
  }

  &__notice {
    position: absolute;
    bottom: 6px;
    left: 56px;
    color: var(--color-outline);
  }
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 12px !important;
}
