:host {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  background-color: var(--row-default-color);
  ::ng-deep{
    .mat-mdc-tab-body-content{
      overflow: unset;
      max-height: 348px;
    }
  }

  sm-simple-table-2 {
    flex: 1;
    overflow: auto;
  }

  .experiments-table .body {
    display: grid !important;
    grid-template-columns: 30px minmax(30px, auto) minmax(150px, 1fr) 36px;
    align-items: center;
    gap: 12px;
    padding: 0 18px;
  }
  .experiments-table ::ng-deep .headers {display: none;}

  .workers-table {
    ::ng-deep .headers, .body {
      display: grid !important;
      grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
      gap: 12px;
      padding: 0 18px;
    }
  }

  ::ng-deep .table-row {
    height: 40px;
    border-bottom: 1px solid var(--color-surface-container-high);
    padding: 0 !important;
    &:last-of-type {
      border-bottom-color: var(--color-surface-container-high) !important;
    }
  }

  ::ng-deep {
    .mat-mdc-tab-header {
      background-color: var(--row-header-color);
      height: 40px;
    }
    .mat-mdc-tab {
      --mat-tab-container-height: 39px;
    }
  }

  sm-simple-table-2 ::ng-deep .headers {
    height: 39px;
    border-bottom: 1px solid var(--color-outline) !important;
  }

  .close {
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: 5;
  }

  ::ng-deep .table-row {
    .row:hover {
      background-color: var(--row-selected-hover-color);
    }
    .menu {
      visibility: hidden;
      color: var(--color-outline);
      transition: color 0.35s;

      &:hover {
        color: var(--color-on-surface-variant);
      }
    }
    &:hover .al-icon {
      visibility: visible;
    }
  }

  .column {
    width: 36px;
    padding: 0 8px;
    &:last-child {
      width: 60px;
    }
  }

  .flex-column {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .empty-state {
    flex-grow: 1;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-empty-state);
  }
}
