.results.scroll {
  height: 60vh;
  max-height: 400px;
  overflow: auto;
}
.column-explanation {
  margin: 5px;
  font-size: 10px;
}
.filter-type {
  padding: 4px 0;
  text-align: right;

  .link {
    color: var(--color-outline);

    &.selected {
      color: var(--color-on-surface);
      pointer-events: none;
    }
  }
}

.lbl {
  margin-left: 18px;
}
.hidden {
  display: none;
}
