@use "variables";

:host {
  --dialog-icon-color: var(--color-warning);
}

.more-info {
  max-height: 200px;
  padding: 6px;
  border-radius: 4px;
  min-width: 400px;
  max-width: 500px;
  font-size: 12px;
  overflow: auto;

  .entities {
    font-family: variables.$font-family-monospace;
    padding-left: 20px;
  }
}
