.preview-container {
  overflow: auto;
  height: 100%;
}

.debug-title {
  font-size: 18px;
  text-align: center;
  padding: 24px;
}

.dataset-version-preview.hidden {
  display: none;
}

.hidden-like {
  visibility: hidden;
  height: 0 !important;
  display: flex !important;
}

.no-data {
  color: var(--color-empty-state);
}

sm-debug-images {
  height: unset;
}
