:host {
  width: 190px;
  text-align: center;

  input {
    text-align: center;
    width: 22px;
    border: none;
    font-size: 14px;
    background: transparent;
    color: var(--mat-form-field-outlined-input-text-color);

    &:last-of-type {
      width: 30px;
    }
  }

  form {
    position: relative;

  }

  .inputs-container {
    background: var(--color-surface-container-high);
    padding: 0 12px;
    border-radius: 4px;
    position: relative;
    display: flex;
    gap: 1px;
    z-index: 2;

    .separator {
      line-height: 32px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
    .submit {
      position: absolute;
      top: 50%;
      right: -8px;
      transform: translate(0, -50%);
      opacity: 0;
      transition: right ease-in-out 0.3s, opacity ease-out 0.5s;
      pointer-events: none;

      &.in-edit-mode {
        pointer-events: all;
        right: -40px;
        opacity: 1;
      }
    }
}
