@forward "colors";
@forward "buttons";
@forward "menus";
@forward "form-fields";
@forward "dialogs";
@forward "scrollbar";
@forward "expansion-panel";
@forward "sidenav";
@forward "cards";
@forward "table";
@forward "tooltip";
@forward "slide-toggle";
@forward "icons";
@forward "links";
@forward "divider";
@forward "ace";
@forward "slider";
@forward "angular-split";
@forward "markdown";
@forward "tabs";
@forward "autocompletes";
@use "colors";
@use "table";
@use "buttons";
@use "cards";
@use "dialogs";
@use "ace";
@use "sidenav";

body {
  color: var(--color-on-surface-variant);
}

@mixin components($theme) {
  @include colors.generate-colors($theme);
  @include table.table($theme);
  @include buttons.buttons($theme);
  @include cards.cards($theme);
  @include dialogs.dialogs($theme);
  @include sidenav.drawer($theme);
}
