:root {

  .mat-mdc-menu-panel {
    --mat-app-elevation-shadow-level-2: none;
  }

  .mat-mdc-tooltip {
    --mat-tooltip-supporting-text-size: 11px;
    --mat-tooltip-supporting-text-line-height: 14px;

    &.break-line {
      .mdc-tooltip__surface {
        white-space: pre-line;
      }
    }

    &.validation {
      .mdc-tooltip__surface {
        --mat-tooltip-container-color: var(--color-error);
      }
    }

    &.parameter-tooltip {
      margin: 6px auto 6px -140px;
    }
  }

  .mat-mdc-tooltip-surface {
    min-height: 22px;
    max-width: 400px;
  }

  .multiline-tooltip {
    white-space: pre-line;
    background-color: var(--mat-tooltip-container-color, var(--mat-app-inverse-surface));
    color: var(--mat-tooltip-supporting-text-color, var(--mat-app-inverse-on-surface));
    border-radius: var(--mat-tooltip-container-shape, var(--mat-app-corner-extra-small));
    font-family: var(--mat-tooltip-supporting-text-font, var(--mat-app-body-small-font)), system-ui;
    font-size: var(--mat-tooltip-supporting-text-size, var(--mat-app-body-small-size));
    font-weight: var(--mat-tooltip-supporting-text-weight, var(--mat-app-body-small-weight));
    line-height: var(--mat-tooltip-supporting-text-line-height, var(--mat-app-body-small-line-height));
    letter-spacing: var(--mat-tooltip-supporting-text-tracking, var(--mat-app-body-small-tracking));

    a {
      color: var(--color-primary-container, var(--mat-app-inverse-on-surface));

      &:hover {
        color: var(--color-primary-container);
      }
    }

    > div {
      text-align: left;
    }
  }
}
