:host {
  --mat-button-toggle-height: 34px;
  --mat-button-toggle-label-text-line-height: 34px;

  .label {
    // font-size: 12px;
    // font-weight: 500;
    // text-transform: uppercase;
    display: block;
  }

  mat-button-toggle {
    display: block;
  }
}
