:host {
  --mat-list-list-item-one-line-container-height: 100%;
}

.theme-selector {
  display: flex;
  gap: 24px;
  text-align: center;
  &__option {
    padding: 16px;
    border-radius: 12px;
    --mat-list-list-item-container-color: var(--color-surface-container-low);
    --mat-list-list-item-focus-state-layer-color: transparent;
    &.selected {
      --mat-list-list-item-container-color: var(--color-primary);
      --mat-list-list-item-selected-container-color: var(--color-primary);
      --mat-list-list-item-label-text-color: var(--color-surface-container);
      --mat-list-list-item-hover-label-text-color: var(--color-surface-container);
      --mat-list-list-item-focus-label-text-color: var(--color-surface-container);
    }
  }
}
