@use "variables";

:host {
  --mat-tab-container-height: #{variables.$nav-bar-height};
  --mat-tab-inactive-label-text-color: color-mix(in srgb, var(--color-on-surface-variant), transparent 40%);

  .sub-header {
    margin-top: 4px;
    font-size: 10px;
  }

  .trial-badge {
    margin-left: 10px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: normal;
  }

  .counter {
    color: var(--color-primary);
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    display: flex;
    justify-content: center;

    &__data {
      border: 1px solid var(--color-surface-container-high);
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      padding: 2px 6px;
      display: flex;
      gap: 6px;
      justify-content: center;
    }
  }

}
