$search-font-size: 14px;
:host {
  .search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 32px;
    width: 36px;
    overflow: hidden;

    &.animate {
      transition: width 0.4s ease;
    }

    border-radius: 4px 4px 0 0;

    &.active {
      width: 100%;

      &.with-counter {
        width: 300px;
      }

      &.with-results {
        width: auto;
      }
    }

    .search-input {
      display: flex;
      align-items: center;
      width: 100%;
      border: 0;
      outline: none;
      border-radius: 4px;
      box-shadow: none !important;
      font-size: $search-font-size;
      font-weight: 400;

      input {
        flex-grow: 1;
        width: 180px;
        display: none;
        border-radius: 4px 4px 0 0;
        border: none;
        background: none;
        color: var(--color-on-surface);
        line-height: 32px;

        &.active {
          display: flex;
        }
      }

      button.active {
        margin-right: 4px;
      }

      .mat-icon.error {
        margin-right: 8px;
        color: var(--color-error);
      }

      .separator {
        width: 1px;
        height: 32px;
        background: var(--color-outline-variant);
      }

      .icon-button {
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        flex: 0 0 32px;
        display: flex;

        &.disabled {
          pointer-events: none;
          opacity: 0.4;
        }
      }

      .jump-next {
        display: flex;

        .jump-button {
          background: transparent;
          border: none;
        }
      }

      input {
        padding-left: 8px;
        font-size: $search-font-size;

        &::placeholder {
          font-size: $search-font-size;
        }
      }
    }

    .match {
      flex-grow: 1;
      display: flex;
      white-space: nowrap;
      justify-content: center;
      user-select: none;
      padding: 0 12px;
    }
  }

  &.outline {
    display: block;
    min-width: 36px;
    height: 36px;
    border: 1px solid var(--color-outline);

    &.regex-error {
      border-color: var(--color-error) !important;
    }

    border-radius: 18px;
    --mat-icon-button-state-layer-size: 34px;
    background-color: var(--color-surface-container-lowest);

    .search-input-container .search-input input {
      padding-left: 16px;
      padding-right: 54px;
    }

  }

  &.outline.contained-icon {
    .search-input-container .search-input input {
      padding-left: 18px;
      padding-right: 80px;
    }
  }


  &.underline-search {
    .search-input-container {
      height: inherit;

      .search-input {
        input {
          padding-left: 0;
        }
      }

      border-bottom: 1px solid var(--color-outline);
      width: 100%;
    }
  }
}


:host-context(.hyper-params-custom-col) {
  .search-input-container {
    margin: 0 24px;
    width: auto;
  }
}

//.mat-mdc-icon-button {
//  --mat-icon-button-state-layer-size: 24px; /* Adjust as needed */
//  margin-right: 8px;
//}

