:host {
  display: block;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-surface-container-lowest);

    .loading {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .text {
      font-size: 14px;
      margin-left: 12px;

      &.no-data {
        margin: 0;
        opacity: 0.5;
      }
    }
  }
}
